

.gutter {
  --gutter-size: 2px;
  --handle-width: 20px;
  --handle-height: 5px;
  transition: background-color 0.2s;
  position: relative;
}

.gutter-fill {
  position: absolute;
  height: 0%;
  width: 0%;
  background-color: var(--primary);
  z-index: 200;
  transition: width 0.2s, height 0.2s;
}

.gutter-fill.handle-drag {
  width: 100%;
  height: 100%;
}

.handle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: background-color 0.25s;
  border-radius: 1px;
  z-index: 200;
}

.handle:hover, .handle.handle-drag {
  background-color: var(--primary);
}

.handle-vertical {
  width: var(--handle-width);
  height: var(--handle-height);
}

.handle-horizontal {
  width: var(--handle-height);
  height: var(--handle-width);
}
